In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('Car_data_2.csv')

In [3]:
df.shape

(5999, 13)

In [4]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [5]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5

In [6]:
df.dtypes

name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
mileage          object
engine           object
max_power        object
torque           object
seats             int64
dtype: object

In [7]:
df['year'] = df['year'].astype(int)
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5

In [8]:
df['temp'] = ''

In [9]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,temp
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5,
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5,
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5,
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5,
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5,

In [10]:
curr_year = 2020

In [12]:
for i in range(5999):
    year_gap = (curr_year - df['year'][i])
    
    if year_gap < 2 :
        val = (0.935)**year_gap
    elif 2 < year_gap < 5 :
        val = (0.915)**year_gap
    elif 5 < year_gap < 8 :
        val = (0.895)**year_gap
    elif year_gap > 8 :
        val = (0.875)**year_gap
        
    
    p_price = (df['selling_price'][i])/val
    df['temp'][i] = int(p_price)

<ipython-input-12-b55371e2feef>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temp'][i] = int(p_price)

In [13]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,temp
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5,875536
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5,719885
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5,1024576
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5,855267
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5,737630

In [14]:
df.rename(columns={'temp': 'purchased_price'}, inplace=True)

In [15]:
final_dataset=df[['year','selling_price','purchased_price','km_driven','fuel','seller_type','transmission','owner']]

In [16]:
final_dataset.head()

,year,selling_price,purchased_price,km_driven,fuel,seller_type,transmission,owner
0,2014,450000,875536,145500,Diesel,Individual,Manual,First Owner
1,2014,370000,719885,120000,Diesel,Individual,Manual,Second Owner
2,2006,158000,1024576,140000,Petrol,Individual,Manual,Third Owner
3,2010,225000,855267,127000,Diesel,Individual,Manual,First Owner
4,2007,130000,737630,120000,Petrol,Individual,Manual,First Owner

In [17]:
final_dataset['no_year'] = ""

<ipython-input-17-934dc55b4319>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dataset['no_year'] = ""

In [18]:
final_dataset.head()

,year,selling_price,purchased_price,km_driven,fuel,seller_type,transmission,owner,no_year
0,2014,450000,875536,145500,Diesel,Individual,Manual,First Owner,
1,2014,370000,719885,120000,Diesel,Individual,Manual,Second Owner,
2,2006,158000,1024576,140000,Petrol,Individual,Manual,Third Owner,
3,2010,225000,855267,127000,Diesel,Individual,Manual,First Owner,
4,2007,130000,737630,120000,Petrol,Individual,Manual,First Owner,

In [20]:
for i in range(5999):
    year_gap = (curr_year - final_dataset['year'][i])
   
    final_dataset['no_year'][i] = int(year_gap)

<ipython-input-20-2cd251cf32aa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dataset['no_year'][i] = int(year_gap)

In [21]:
final_dataset.head()

,year,selling_price,purchased_price,km_driven,fuel,seller_type,transmission,owner,no_year
0,2014,450000,875536,145500,Diesel,Individual,Manual,First Owner,6
1,2014,370000,719885,120000,Diesel,Individual,Manual,Second Owner,6
2,2006,158000,1024576,140000,Petrol,Individual,Manual,Third Owner,14
3,2010,225000,855267,127000,Diesel,Individual,Manual,First Owner,10
4,2007,130000,737630,120000,Petrol,Individual,Manual,First Owner,13

In [22]:
final_dataset.drop(['year'],axis=1,inplace=True)

C:\Users\hrgha\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [23]:
final_dataset.head()

,selling_price,purchased_price,km_driven,fuel,seller_type,transmission,owner,no_year
0,450000,875536,145500,Diesel,Individual,Manual,First Owner,6
1,370000,719885,120000,Diesel,Individual,Manual,Second Owner,6
2,158000,1024576,140000,Petrol,Individual,Manual,Third Owner,14
3,225000,855267,127000,Diesel,Individual,Manual,First Owner,10
4,130000,737630,120000,Petrol,Individual,Manual,First Owner,13

In [24]:
final_dataset = final_dataset.replace("Trustmark Dealer","Dealer")

In [25]:
final_dataset = pd.get_dummies(final_dataset, columns=['fuel','seller_type','transmission',])

In [26]:
final_dataset.head()

,selling_price,purchased_price,km_driven,owner,no_year,fuel_Diesel,fuel_Petrol,seller_type_Dealer,seller_type_Individual,transmission_Automatic,transmission_Manual
0,450000,875536,145500,First Owner,6,1,0,0,1,0,1
1,370000,719885,120000,Second Owner,6,1,0,0,1,0,1
2,158000,1024576,140000,Third Owner,14,0,1,0,1,0,1
3,225000,855267,127000,First Owner,10,1,0,0,1,0,1
4,130000,737630,120000,First Owner,13,0,1,0,1,0,1

In [28]:
final_dataset['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner'], dtype=object)

In [29]:
final_dataset = final_dataset.replace("First Owner",0)
final_dataset = final_dataset.replace("Second Owner",1)
final_dataset = final_dataset.replace("Third Owner",2)
final_dataset = final_dataset.replace("Fourth & Above Owner",2)

In [30]:
final_dataset.head()

,selling_price,purchased_price,km_driven,owner,no_year,fuel_Diesel,fuel_Petrol,seller_type_Dealer,seller_type_Individual,transmission_Automatic,transmission_Manual
0,450000,875536,145500,0,6,1,0,0,1,0,1
1,370000,719885,120000,1,6,1,0,0,1,0,1
2,158000,1024576,140000,2,14,0,1,0,1,0,1
3,225000,855267,127000,0,10,1,0,0,1,0,1
4,130000,737630,120000,0,13,0,1,0,1,0,1

In [32]:
#final_dataset.drop(['fuel_CNG'],axis=1,inplace=True)
final_dataset.drop(['transmission_Automatic'],axis=1,inplace=True)
final_dataset.drop(['seller_type_Dealer'],axis=1,inplace=True)

In [33]:
final_dataset.head()

,selling_price,purchased_price,km_driven,owner,no_year,fuel_Diesel,fuel_Petrol,seller_type_Individual,transmission_Manual
0,450000,875536,145500,0,6,1,0,1,1
1,370000,719885,120000,1,6,1,0,1,1
2,158000,1024576,140000,2,14,0,1,1,1
3,225000,855267,127000,0,10,1,0,1,1
4,130000,737630,120000,0,13,0,1,1,1

In [34]:
final_dataset.rename(columns={'selling_price':'Selling_Price','purchased_price':'Present_Price','km_driven':'Kms_Driven','owner':'Owner','fuel_Diesel':'Fuel_Type_Diesel','fuel_Petrol':'Fuel_Type_Petrol','seller_type_Individual':'Seller_Type_Individual','transmission_Manual':'Transmission_Manual'}, inplace=True)

In [35]:
final_dataset.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,450000,875536,145500,0,6,1,0,1,1
1,370000,719885,120000,1,6,1,0,1,1
2,158000,1024576,140000,2,14,0,1,1,1
3,225000,855267,127000,0,10,1,0,1,1
4,130000,737630,120000,0,13,0,1,1,1

In [36]:
final_dataset.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,450000,875536,145500,0,6,1,0,1,1
1,370000,719885,120000,1,6,1,0,1,1
2,158000,1024576,140000,2,14,0,1,1,1
3,225000,855267,127000,0,10,1,0,1,1
4,130000,737630,120000,0,13,0,1,1,1

In [37]:
final_dataset.to_csv('car_clean_data_final.csv',index = False)